name: release

on:
  push:
    branches:
      - "!*"
    tags:
      - "**"
jobs:
  codestyle:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Rust
        uses: hecrj/setup-rust-action@v1
        with:
          components: rustfmt
      - uses: actions/checkout@v1
      - run: cargo fmt --all -- --check

  lint:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Rust
        uses: hecrj/setup-rust-action@v1
        with:
          components: clippy
      - uses: actions/checkout@v1
      - run: cargo clippy --all-targets -- -D clippy::all

  compile:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Rust
        uses: hecrj/setup-rust-action@v1
      - uses: actions/checkout@master
      - run: cargo check --all

  test:
    needs: [codestyle, lint, compile]
    runs-on: ubuntu-latest

    steps:
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v1
      - name: Checkout
        uses: actions/checkout@v1
      - name: Test
        run: cargo test
      - name: Build test package with custom images
        run: cargo run -- -d -c example/conf.yml build test-suite test-package

  build_and_upload_artifacts:
    name: Upload Artifacts
    needs: [test]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [linux, macos]
        include:
        - build: linux
          os: ubuntu-latest
          target: x86_64-unknown-linux
        - build: macos
          os: macos-latest
          target: x86_64-apple-darwin

    steps:
      - name: Set up Rust
        uses: hecrj/setup-rust-action@v1
      - uses: actions/checkout@master
      - name: Set version
        id: set_version
        run: echo ::set-output name=PKGER_VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Set archive name
        id: set_name
        run: echo ::set-output name=PKGER_ARCHIVE::pkger-${{steps.set_version.outputs.PKGER_VERSION}}-${{ matrix.target}}
      - run: cargo build --release
        name: Release build
      - run: ./target/release/pkger -c example/conf.yml build -s rpm -s deb -- pkger-simple
        if: matrix.os == 'ubuntu-latest'
        name: Build deb and rpm packages
      - name: Install help2man mac
        if: matrix.os == 'macos-latest'
        run: brew install help2man
      - name: Install help2man ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt -y update
          sudo apt -y install help2man
      - name: Prepare archive directory
        run: mkdir pkger
      - name: Generate manual
        run: |
          help2man target/release/pkger > pkger/pkger.1
      - name: Move release files
        run: |
          mv target/release/pkger pkger/
          mv README.md pkger/
          mv LICENSE pkger/
      - name: Create archives
        run: |
          tar -zcvf ${{ steps.set_name.outputs.PKGER_ARCHIVE }}.tar.gz pkger
          tar -Jcvf ${{ steps.set_name.outputs.PKGER_ARCHIVE }}.tar.xz pkger
      - name: Upload gz
        uses: svenstaro/upload-release-action@v2
        with:
          repo_name: wojciechkepka/pkger
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.set_name.outputs.PKGER_ARCHIVE }}.tar.gz
          asset_name: ${{ steps.set_name.outputs.PKGER_ARCHIVE }}.tar.gz
          tag: ${{ steps.set_version.outputs.PKGER_VERSION }}
          overwrite: true
      - name: Upload xz
        uses: svenstaro/upload-release-action@v2
        with:
          repo_name: wojciechkepka/pkger
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.set_name.outputs.PKGER_ARCHIVE }}.tar.xz
          asset_name: ${{ steps.set_name.outputs.PKGER_ARCHIVE }}.tar.xz
          tag: ${{ steps.set_version.outputs.PKGER_VERSION }}
          overwrite: true
      - name: Upload deb
        if: matrix.os == 'ubuntu-latest'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_name: wojciechkepka/pkger
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: example/output/pkger-deb/pkger-${{steps.set_version.outputs.PKGER_VERSION}}-0.amd64.deb
          asset_name: pkger-${{steps.set_version.outputs.PKGER_VERSION}}-0.amd64.deb
          tag: ${{ steps.set_version.outputs.PKGER_VERSION }}
          overwrite: true
      - name: Upload rpm
        if: matrix.os == 'ubuntu-latest'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_name: wojciechkepka/pkger
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: example/output/pkger-rpm/pkger-${{steps.set_version.outputs.PKGER_VERSION}}-0.x86_64.rpm
          asset_name: pkger-${{steps.set_version.outputs.PKGER_VERSION}}-0.x86_64.rpm
          tag: ${{ steps.set_version.outputs.PKGER_VERSION }}
          overwrite: true
